.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #6F96A6;
    padding-right: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
    padding-left: 80%;
    padding-top: 20px;

}

.item{
    margin-right: 1em;
}

.item a{
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
}

.item a:hover{
    color: #5B6EA6
}

.logo{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-left: 3%;
}